<main>
    <div class="content">
    <app-herosection id="hero"></app-herosection>
    <app-contactfault></app-contactfault>
    <app-aboutme id="aboutme"></app-aboutme>
    <app-myskills id="myskills"></app-myskills>
    <app-portfolio id="portfolio"></app-portfolio>
    <app-contact id="contact"></app-contact>


    <img class="highlight_1" src="assets/images/highlights_hero.png" alt="">
    <img class="curve" src="assets/images/curve_hero.png" alt="">
    <img class="curve_mb" src="assets/images/curve_hero_mobile.png" alt="">
    <img src="public/assets/images/curve_hero_mobile.png" alt="" class="highlights_2">
    <img class="highlights_3" src="assets/images/highlights_skills.png" alt="">
    <img class="highlights_4" src="assets/images/highlights_portfolio.png" alt="">
    <img class="highlights_5" src="assets/images/highlights_contact.png" alt="">
</div>
</main>