<main>
    <div class="content">
        <app-herosection ></app-herosection>
        <app-contactfault></app-contactfault>
        <app-aboutme></app-aboutme>
        <app-myskills></app-myskills>
        <app-portfolio></app-portfolio>
        <app-contact></app-contact>


        <img class="highlight_1" src="assets/images/highlights_hero.png" alt="">

        <img class="curve" src="assets/images/curve_hero.png" alt="">

        <img class="curve_mb" src="assets/images/curve_hero_mobile.png" alt="">

        <img src="assets/images/highlights_aboutme.png" alt="" class="highlights_2">

        <img class="highlights_3" src="assets/images/highlights_skills.png" alt="">

        <img class="highlights_4" src="assets/images/highlights_portfolio.png" alt="">

        <img class="highlights_5" src="assets/images/highlights_contact.png" alt="">

        <a class="go-up" href="#hero" [class.active-link]="activeSection === 'hero'" (click)="setActive('hero')"><div></div></a>

    </div>
</main>