<div class="content">
    <div class="socialmedia">
        <div class="left">
            <img class="blueline" src="assets/icons/sm-line.png" />

            <div class="iconrow">
                <img class="iconimg" src="assets/icons/Github button.png" alt="Github" />
                <img class="iconimg" src="assets/icons/Email button.png" alt="" />
                <img class="iconimg" src="assets/icons/Linkedin button.png" alt="" />
            </div>

            <span class="email">irene.kober&commat;gmx.net</span>
        </div>
    </div>



    <div class="scrolldown">
        <span>{{text.scroll}}</span>
        <img src="assets/icons/arrow-down-line.png" alt="">
    </div>
</div>