<section>
    <div class="content">
        <div class="socialmedia">
            <div class="left">
                <img class="blueline" src="assets/icons/sm-line.png" />
                <div class="iconrow">
                    <a href="https://github.com/iri-ko" target="_blank"><img class="iconimg" src="assets/icons/Github button.png" alt="Github" /></a>
                    <a href="mailto:irene.kober@gmx.net"><img class="iconimg" src="assets/icons/Email button.png" alt="" /></a>
                    <a href="https://www.linkedin.com/in/irene-kober-2570961a1/" target="_blank"><img class="iconimg" src="assets/icons/Linkedin button.png" alt="" /></a>
                </div>
                <span class="email">irene.kober&commat;gmx.net</span>
            </div>
        </div>
        <div class="scrolldown">
            <span>{{text.scroll}}</span>
            <img src="assets/icons/arrow-down-line.png" alt="">
        </div>
    </div>
</section>