@import "../../shared/mixins.scss";


.content {
    @include width-1940;

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 100px;

    .socialmedia {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 42px;

        .left {
            display: flex;
            align-items: center;
            gap: 42px;
            flex-wrap: nowrap;
        }

        .iconrow {
            display: flex;
            gap: 42px;
        }

        .iconimg {
            display: block;
            width: 30px;
            transition: transform 0.2s ease;
            transform-origin: left center;

            &:hover {
                transform: scale(1.33) translateX(5px);
                cursor: pointer;
            }
        }


        .email {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 23px;
        }
    }





    .scrolldown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        gap: 60px;

        span {
            display: inline-block;
            transform: rotate(90deg);
            font-size: 23px;
            
        }

        img {
            width: 24px;
            height: 24px;
            align-self: center;
        }
    }



}