@import "../../../shared/mixins.scss";

form {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .shortinput {
        border: solid 1px #4B46FF;
        background-color: #141d2f;
        border-radius: 10px;
        padding: 15px 25px;
    }

    .messageinput {
        border: solid 1px #4B46FF;
        background-color: #141d2f;
        border-radius: 10px;
        padding: 15px 25px;
        height: 202px;
    }

    .checkbox {
        display: flex;
        gap: 10px;

        .check {
            height: 24px;
            width: 24px;
            border: solid 1px #00BEE8;
            background-color: #141d2f;
        }

        a {
            color: #4B46FF;
        }
    }

    button {
        background-color: #B6B6B6;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        width: 250px;
        align-self: center;
        margin-top: 50px;
    }
}