<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="input-group" [ngClass]="{
       'error': contactForm.get('name')?.invalid && contactForm.get('name')?.touched,
       'success': contactForm.get('name')?.valid && contactForm.get('name')?.touched
     }">
        <input class="shortinput" type="text" placeholder="{{text.namePlaceholder}}" formControlName="name" />
        <img *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"
            src="assets/icons/submit-needed.png" alt="error icon" class="error-icon" />
        <img *ngIf="contactForm.get('name')?.valid && contactForm.get('name')?.touched"
            src="assets/icons/submit-works.png" alt="valid icon" class="success-icon" />

        <p class="error-message" [class.visible]="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
            {{text.nameError}}
        </p>

    </div>


    <div class="input-group" [ngClass]="{
       'error': contactForm.get('email')?.invalid && contactForm.get('email')?.touched,
       'success': contactForm.get('email')?.valid && contactForm.get('email')?.touched
     }">

        <input class="shortinput" type="email" placeholder="{{text.emailPlaceholder}}" formControlName="email" />

        <img *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
            src="assets/icons/submit-needed.png" alt="error icon" class="error-icon" />

        <img *ngIf="contactForm.get('email')?.valid && contactForm.get('email')?.touched"
            src="assets/icons/submit-works.png" alt="valid icon" class="success-icon" />

        <p class="error-message"
            [class.visible]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
            {{text.emailError}}
        </p>
    </div>


    <div class="input-group" [ngClass]="{
       'error': contactForm.get('message')?.invalid && contactForm.get('message')?.touched,
       'success': contactForm.get('message')?.valid && contactForm.get('message')?.touched
     }">

        <textarea class="messageinput" placeholder="{{text.messagePlaceholder}}" formControlName="message"></textarea>

        <img *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
            src="assets/icons/submit-needed.png" alt="error icon" class="error-icon" />

        <img *ngIf="contactForm.get('message')?.valid && contactForm.get('message')?.touched"
            src="assets/icons/submit-works.png" alt="success icon" class="success-icon" />

        <p class="error-message"
            [class.visible]="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
            {{text.messageError}}
        </p>

    </div>

    <div class="checkbox-group" [ngClass]="{
  'error': contactForm.get('privacy')?.invalid && contactForm.get('privacy')?.touched
}">
        <input id="privacy" type="checkbox" class="check" formControlName="privacy" />
        <label for="privacy" class="checkbox-label">
            {{text.privacyLabel}}
        </label>


        <span class="privacy-link" (click)="navigateToPrivacy()" role="link">
            {{ text.privacyGuidelines }}
        </span>

        <span class="privacy-text-2">{{text.privacyText2}}</span>

        <p class="error-message"
            [class.visible]="contactForm.get('privacy')?.invalid && contactForm.get('privacy')?.touched">
            {{text.privacyError}}
        </p>
    </div>



    <button type="submit" [disabled]="contactForm.invalid">{{text.submit}}</button>

    <p class="submit-success" *ngIf="submissionSuccess">
        {{text.success}}
    </p>



</form>