<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="input-group" [ngClass]="{
       'error': contactForm.get('name')?.invalid && contactForm.get('name')?.touched,
       'success': contactForm.get('name')?.valid && contactForm.get('name')?.touched
     }">
        <input class="shortinput" type="text" placeholder="Your name" formControlName="name" />
        <img *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"
            src="assets/icons/submit-needed.png" alt="error icon" class="error-icon" />
        <img *ngIf="contactForm.get('name')?.valid && contactForm.get('name')?.touched"
            src="assets/icons/submit-works.png" alt="valid icon" class="success-icon" />

        <p class="error-message" *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
            Your name is required
        </p>
    </div>


    <div class="input-group" [ngClass]="{
       'error': contactForm.get('email')?.invalid && contactForm.get('email')?.touched,
       'success': contactForm.get('email')?.valid && contactForm.get('email')?.touched
     }">

        <input class="shortinput" type="email" placeholder="Your email" formControlName="email" />

        <img *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
            src="assets/icons/submit-needed.png" alt="error icon" class="error-icon" />

        <img *ngIf="contactForm.get('email')?.valid && contactForm.get('email')?.touched"
            src="assets/icons/submit-works.png" alt="valid icon" class="success-icon" />

        <p class="error-message" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
            Your email is required
        </p>

    </div>


    <div class="input-group" [ngClass]="{
       'error': contactForm.get('message')?.invalid && contactForm.get('message')?.touched,
       'success': contactForm.get('message')?.valid && contactForm.get('message')?.touched
     }">

        <textarea class="messageinput" placeholder="Your message" formControlName="message"></textarea>

        <img *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
            src="assets/icons/submit-needed.png" alt="error icon" class="error-icon" />

        <img *ngIf="contactForm.get('message')?.valid && contactForm.get('message')?.touched"
            src="assets/icons/submit-works.png" alt="success icon" class="success-icon" />

        <p class="error-message" *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
            Your message is empty.
        </p>

    </div>

    <div class="checkbox-group" [ngClass]="{
       'error': contactForm.get('privacy')?.invalid && contactForm.get('privacy')?.touched
     }">

        <label class="checkbox">
            <input type="checkbox" class="check" formControlName="privacy" />
            I accept the <a>privacy policy</a>
        </label>

        <p class="error-message" *ngIf="contactForm.get('privacy')?.invalid && contactForm.get('privacy')?.touched">
            Please accept the privacy policy
        </p>

    </div>


    <button type="submit" [disabled]="contactForm.invalid">Send message</button>

    <p class="submit-success" *ngIf="submissionSuccess">
        Thanks for your message! I'll respond soon!
    </p>



</form>