@import "../../../shared/mixins.scss";
@import "../../../../styles.scss";


form {
    display: flex;
    flex-direction: column;
    gap: 35px;



    .input-group {
        position: relative;

        .shortinput {
            border: solid 1px $intenseblue;
            background-color: $darkblue;
            border-radius: 10px;
            padding: 15px 25px;
            width: 100%;

            &::placeholder {
                color: white;
                opacity: 1;
                transition: opacity 0.2s ease;
            }

            &:hover {
                border-color: $lightblue;
                cursor: pointer;
            }

            &:focus {
                border-color: $lightblue;
                outline: none;
            }
        }

        .messageinput {
            border: solid 1px $intenseblue;
            background-color: $darkblue;
            border-radius: 10px;
            padding: 15px 25px;
            height: 202px;
            width: 100%;

            &::placeholder {
                color: white;
                opacity: 1;
                transition: opacity 0.2s ease;
            }

            &:hover {
                border-color: $lightblue;
                cursor: pointer;
            }

            &:focus {
                border-color: $lightblue;
                outline: none;
            }
        }

        &.error {
            .shortinput {
                border-color: #E61C40;
                width: 100%;
            }

            .messageinput {
                border-color: #E61C40;
                width: 100%;
            }

            .error-icon {
                position: absolute;
                top: 25px;
                right: 25px;
                transform: translateY(-50%);
                height: 20px;
                width: 20px;
            }

            .error-message {
                color: #E61C40;
                font-size: 13px;
                margin-top: 8px;
            }
        }
    }

    .input-group.success {

        .shortinput,
        .messageinput {
            border-color: #70E61C;
            width: 100%;
        }

        .success-icon {
            position: absolute;
            top: 25px;
            right: 25px;
            transform: translateY(-50%);
            height: 20px;
            width: 20px;
        }
    }



    .shortinput::placeholder,
    .messageinput::placeholder {
        color: white;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    .shortinput:focus::placeholder,
    .messageinput:focus::placeholder {
        opacity: 0;
    }


    .checkbox {
        display: flex;
        gap: 10px;
        font-size: 14px;

        .check {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            width: 16px;
            height: 16px;
            border: 1px solid $lightblue;
            background-color: $darkblue;
            cursor: pointer;

            &:checked {
                color: $lightblue;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 8px;
                    border: solid $lightblue;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }


        a {
            color: $intenseblue;

            &:hover {
                cursor: pointer;
            }
        }
    }

    button {
        background-color: $lightblue;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        width: 250px;
        align-self: center;
        margin-top: 50px;
        transition: transform 0.2s ease, background-color 0.2s ease;
        transform: scale(0.94);

        &:hover {
            transform: scale(1);
            cursor: pointer;
        }
    }
}