<section>
    <div class="content">
        <div class="hero-image">
            <img src="assets\images\Dominik.png" alt="">
        </div>

        <div class="hero-right">
            <div class="namesection">
                <span class="vertical-I-am">{{text.iam}}</span>
                <div class="namesection-right">
                    <span class="name">Irene Kober</span>
                    <span class="frontend">{{text.title}}</span>
                </div>
            </div>
            <div class="buttonsec">
                <a href="#contact">{{text.cta}}</a>
            </div>
        </div>
    </div>
</section>