@import "../../shared/mixins.scss";
@import "../../../styles.scss";

.content {
    width: 100%;
    max-width: 1920px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 100px 47px;

    .hero-image {
        img {
            margin-top: 100px;
            height: 705px;
            width: 646px;
            object-fit: cover;
            z-index: 4;
        }
    }

    .hero-right {
        display: flex;
        flex-direction: column;
        margin-top: 1cqb;
        justify-content: center;

        span: {
            margin: 0;
        }

        .namesection {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 35px;

            .vertical-I-am {
                transform: rotate(-90deg);
                font-size: 64px;
                display: inline-block;
                white-space: nowrap;
                margin-right: -30px; 
                align-self: center;
            }

            .namesection-right {
                display: flex;
                flex-direction: column;

                .name {
                    font-size: 90px;
                    font-weight: 700;
                    line-height: 120%;
                }

                .frontend {
                    font-size: 58px;
                    line-height: 120%;
                    color: #4b47ff;
                }
            }
        }

        .buttonsec {
            margin-top: 50px;
            display: flex;
            justify-content: center;

            a {
                display: inline-block;
                background-color: $lightblue;
                border: none;
                padding: 20px 40px;
                border-radius: 10px;
                font-size: 23px;
                transition: transform 0.2s ease, background-color 0.2s ease;
                transform: scale(0.94);

                &:hover {
                    background-color: $intenseblue;
                    transform: scale(1);
                    cursor: pointer;
                }
            }


        }
    }
}