<header>
    <div class="content">
        <a href="#hero"> <img class="logo" src="assets/images/Logo.png" alt=""></a>
        <nav class="menu">
            <ul>

                <li> <a href="#aboutme" [class.active-link]="activeSection === 'aboutme'"
                        (click)="setActive('aboutme')">{{
                        navText.about }}</a></li>
                <li><a href="#myskills" [class.active-link]="activeSection === 'myskills'"
                        (click)="setActive('myskills')">{{
                        navText.skills }}</a></li>
                <li><a href="#portfolio" [class.active-link]="activeSection === 'portfolio'"
                        (click)="setActive('portfolio')">{{
                        navText.portfolio }}</a></li>

                


                <div class="language">
                    <button [class.active]="currentLang === 'DE'" (click)="switchLang('DE')">DE</button>
                    <button [class.active]="currentLang === 'EN'" (click)="switchLang('EN')">EN</button>

                </div>
            </ul>
        </nav>

        <img class="burg-img" src="assets/icons/burger-menu.png" alt="">

    </div>
</header>