@mixin width-1940 {
    max-width: 1920px;
    display: flex;
    justify-content: center;
}

@mixin d-flex-jstf-space-between{
    display: flex;
    justify-content: space-between;
}

@mixin d-flex-aln-items-center {
    display: flex;
    align-content: center;
}

