<div class="content">
    <div class="aboutmeleft">
        <h2>About me</h2>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique ut
            aut amet placeat numquam distinctio tempora dolorem repudiandae eligendi
            perferendis animi expedita, consequatur recusandae quae repellat nisi.
            Exercitationem, impedit magnam?</span>
        <div class="icontext">
            <img src="assets/icons/bulb desktop.png" alt="" />
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nesciunt
                tempore ea perspiciatis inventore similique doloremque praesentium
                voluptatibus corrupti, facere sed.</span>
        </div>
        <div class="icontext">
            <img src="assets/icons/puzzle desktop.png" alt="" />
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nesciunt
                tempore ea perspiciatis inventore similique doloremque praesentium
                voluptatibus corrupti, facere sed.</span>
        </div>
    </div>
    <div class="aboutmeright">
        <img src="assets/images/Profilbild.jpg" alt="">
        <div class="blueline"></div>
    </div>
</div>