@import "../../shared/mixins.scss";
@import "../../../styles.scss";

.content {
    flex-direction: column;
    margin-top: 100px;
    z-index: 4;

    .headline {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;

        .shortblueline {
            height: 4px;
            width: 109px;
            background-color: $intenseblue;
        }

        .longblueline {
            height: 4px;
            width: 484px;
            background-color: $intenseblue;
        }
    }

    span {
        align-self: center;
        margin-bottom: 100px;
    }
}