@import "../../shared/mixins.scss";
@import "../../../styles.scss";


.content {
    flex-direction: column;
    margin-bottom: 100px;


    .headline {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        .shortblueline {
            background-color: $intenseblue;
            height: 4px;
            width: 50px;
            margin-right: 50px;
        }
    }

    .contactdiv {
        display: flex;
        justify-content: space-between;
        padding: 0px 100px;

        @media (max-width: 1210px) {
            flex-direction: column;
            gap: 50px;
        }


        .contactleft {
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 35px;

            @media (max-width: 1210px) {
                width: 70%;
                gap: 20px;
            }

            h4 {
                font-weight: 700;
                font-size: 32px;
            }
        }
    }
}