@import "../../../shared/mixins.scss";
@import "../../../../styles.scss";

.content {
    @include width-1940;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;

    width: 80dvw;

    .project-div {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        img {
            width: 620px;
            height: 339px;
            object-fit: cover;
        }

        .projectright {
            display: flex;
            flex-direction: column;
            gap: 35px;
            justify-content: flex-end;

            h3 {
                color: $intenseblue;
                font-weight: 700;
                font-size: 32px;
                line-height: 120%;
            }

            .skillspan {
                color: $lightblue;
                font-size: 23px;
            }

            .description {
                font-size: 16px;
            }

            .links {
                display: flex;
                justify-content: flex-start;
                gap: 86px;

                .livetest {
                    background-color: $intenseblue;
                    padding: 15px 30px;
                    font-size: 23px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $lightblue;
                    }
                }

                .github {
                    border: solid, 1px, $lightblue;
                    padding: 15px 30px;
                    font-size: 23px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $lightblue;
                    }
                }

            }
        }
    }
}