@import "../../../shared/mixins.scss";
@import "../../../../styles.scss";


.content {
    @include width-1940;
    margin: 0 auto;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 80%;
    margin-bottom: 100px;

    .project-div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: auto;

        img {
            width: 620px;
            height: 339px;
            object-fit: cover;
        }

        .projectright {
            padding-top: 60px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 20px;

            h3 {
                color: $intenseblue;
                font-weight: 700;
                font-size: 32px;
                line-height: 120%;
            }

            .skillspan {
                color: $lightblue;
                font-size: 23px;
            }

            .description {
                font-size: 16px
            }

            .links {
                display: flex;
                justify-content: flex-start;
                gap: 86px;

                .livetest {
                    background-color: $intenseblue;
                    padding: 15px 30px;
                    font-size: 23px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $lightblue;
                    }
                }

                .github {
                    border: solid 1px $lightblue;
                    padding: 15px 30px;
                    font-size: 23px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $lightblue;
                    }
                }
            }
        }
    }

    .project-div.reverse {
        flex-direction: row-reverse;

        .projectright {
            align-items: flex-end;
            text-align: right;

            .links {
                justify-content: flex-end;
            }
        }
    }

    .project-div.offset-right {
        transform: translateX(20px); 
    }

    .project-div.offset-left {
        transform: translateX(-20px);
    }

}