/* poppins-regular - latin */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    color: white;
    text-decoration: none;
    font-family: Poppins;
}

body {
    background-color: #141d2f;
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../public/assets/fonts/poppins-v23-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h2 {
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 34px;
}