.iconskill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70px;

    gap: 15px;


    img {
        width: 60px;
    }

    span {
        font-weight: 700;
    }

}