.iconskill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70px;
    gap: 15px;

    img {
        width: 60px;

        &:hover {
            animation-name: bounce;
            animation-duration: 500ms;
        }
    }

    span {
        font-weight: 700;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}