<footer>
    <div class="content">
        <div class="footerleft">
            <a href="#hero"><img class="logo" src="assets/images/Logo.png" alt=""></a>

            <a routerLink="/imprint" class="implink">{{text.imprint}}</a>
            
        </div>
        <div class="footercenter">
            &copy; Irene Kober 2025
        </div>
        <div class="footerright">
            <img src="assets/icons/Github button.png" alt="" class="sm-img">
            <img src="assets/icons/Email button.png" alt="" class="sm-img">
            <img src="assets/icons/Linkedin button.png" alt="" class="sm-img">
        </div>

        <div class="footer-imp-mb">
            <a routerLink="/imprint" class="implink">{{text.imprint}}</a>
           
        </div>
    </div>
</footer>