@import "../../shared/mixins.scss";
@import "../../../styles.scss";

footer {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 4px solid $lightblue;

    @media (max-width: 750px) {
        height: 380px;
    }

    .content {
        @include width-1940;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 100px;

        @media (max-width: 750px) {
            flex-direction: column;
        }

        .footerleft {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .logo {
                height: 80px;

                @media (max-width: 750px) {
                    margin-bottom: 28px;
                    height: 80px;
                }
            }

            .implink {
                font-size: 16px;

                @media (max-width: 750px) {
                    display: none;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background-color: $lightblue;
                }

                &:hover {
                    cursor: pointer;

                    &::after {
                        width: 60%;
                    }
                }
            }
        }

        .footercenter {
            font-size: 23px;

            @media (max-width: 750px) {
                margin-bottom: 30px;
            }
        }

        .footerright {
            display: flex;
            justify-content: space-between;
            gap: 50px;

            @media (max-width: 750px) {
                margin-bottom: 30px;
            }

            img {

                &:hover {
                    display: block;
                    width: 30px;
                    transition: transform 0.2s ease;
                    transform-origin: left top;

                    &:hover {
                        transform: scale(1.33) translateX(5px);
                        cursor: pointer;
                    }
                }
            }
        }

        .footer-imp-mb {
            @media (min-width: 750px) {
                display: none;
            }
        }
    }
}