<footer>
    <div class="content">
        <div class="footerleft">
            <a href="#hero"><img class="logo" src="assets/images/Logo.png" alt=""></a>
            <a routerLink="/imprint" class="implink">{{text.imprint}}</a>
        </div>
        <div class="footercenter">
            &copy; Irene Kober 2025
        </div>
        <div class="footerright">
            <a href="https://github.com/iri-ko?tab=repositories" target="_blank"> <img src="assets/icons/Github button.png" alt="" class="sm-img"></a>
            <a href="mailto:irene.kober@gmx.net"> <img src="assets/icons/Email button.png" alt="" class="sm-img"></a>
            <a href="https://www.linkedin.com/in/irene-kober-2570961a1/" target="_blank"> <img src="assets/icons/Linkedin button.png" alt="" class="sm-img"></a>
        </div>
        <div class="footer-imp-mb">
            <a routerLink="/imprint" class="implink">{{text.imprint}}</a>
        </div>
    </div>
</footer>